<?xml version="1.0" encoding="utf-8" ?>
<conf>  
  <connectionstring>Data Source=ip\X3FAMESA;Initial Catalog=x3famesa; User ID=RFFAMTRI;Password=RadioFreqFamtri100$</connectionstring>
  <esquema>FAMESAOF</esquema>
  <planta>FAM</planta>
  <terminal>0002</terminal>
  <formatofechasqlserver>dd/MM/yyyy</formatofechasqlserver>
</conf> 
